.fondo-botonera{
    width: 100vw;
    background-color: rgba(0, 15, 15, 0.205);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.botonera{
    max-width: 1200px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px 0 20px;
    font-weight: 500;
    /* border: 1px solid red; */
}

.botonera input{
    background-color: rgba(0, 15, 15, 0.8);
    border: solid rgb(22, 170, 145);
    border-width: 0 2px 2px 0;
    min-height: 20px;
    border-radius: 3px;
    color: aqua;
    width: 150px;
    padding-left: 10px;
}

.fondo-botonera hr{
    max-width: 900px;
    width: 70%;
    border: solid 1px rgba(255, 255, 255, 0.171);
}

.filtros{
    display: flex;
    gap: 30px;
}

.filtros > div{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: solid 1px rgba(255, 255, 255, 0.459);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* color: transparent; */
}

.img-check{
    width: 80%;
    height: 80%;
    object-fit:cover;
    display: none;
    pointer-events: none;
    position: absolute;
}

.filtros > div input{
    width: 100%;
    height: 100%;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    opacity: 0;
}

.filtros > div input:checked + .img-check{
    display: block;
}

.order-by-container{
    display: flex;
    gap: 15px;
}
.order-by-container select{
    width: 120px;
}

.order-by-checkbox{
    border: solid 2px rgb(22, 170, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 15, 15, 0.39);
    position: relative;
    border-radius: 4px;
    width: 26px;
    height: 24px;
    color: rgb(22, 170, 145);;
}

.order-by-checkbox input{
    width: 26px;
    opacity: 0;
    position: absolute;
}