#Edit-task{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(0, 20, 20, 0.719);
    border: solid 1px  rgb(224, 210, 144);
    padding: 40px 130px;
    border-radius: 10px;
    margin-top: 100px;
    justify-content: center;
}

#Edit-task p, input, select, textarea{
    border: rgb(22, 170, 145) solid;
    border-width: 0 2px 2px 0;
    height: 24px;
    /* width: 180px; */
    text-align: right;
    color: aqua;
    padding: 3px 6px;
    background-color: rgb(0, 20, 20);
    border-radius: 3px;
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.2rem;
}

#Edit-task label{
    text-align: right;
}

#Edit-task p{
    display: flex;
    background-color: rgba(0, 20, 20, 0.596);
    color: rgba(255, 255, 255, 0.479);
    border-right: none;
}

.id-container{
    display: flex;
    justify-content: space-between;
}
.id-container button{
    font-weight: 900;
    font-size: 1.3rem;
    width: 40px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 20, 20, 0.692);
    border: 1px solid rgba(0, 255, 213, 0.548);
    border-radius: 3px;
    color: aqua;
}
.id-container p{
    width: 50px;
    justify-content: center;
    align-items: center;
}

.edit-columns-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    /* border: 1px solid red; */
}
.edit-task-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
}

.pareja{
    display: flex;
    gap: 5px;
}

.pareja p, input, select{
    width: 180px;
    justify-content: center;
    align-items: center;

}

.cabecera{
    flex-direction: column;
    margin-bottom: 15px;
    /* text-align: right; */
}

.descripcion-container{
    width: 580px;
    min-height: 90px;
    align-items: flex-start;
}
.descripcion-container > textarea{
    width: 580px;
    min-height: 90px;
    align-content: flex-start;
    text-align: left;
}

#description-p{
    width: 580px;
    min-height: 90px;
    align-content: flex-start;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: .8rem !important;
    font-weight: 300 !important;
    letter-spacing: .16rem;
}

.edit-botonera{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.edit-botonera button{
    padding: 0 10px;
}

.boton-check-edit{
    background-color: rgba(0, 20, 20, 0.692);
    border: solid 1px rgb(22, 170, 145);
    color: white;
    border-radius: 4px;
    font-weight: 800;
    width: 140px;
    height: 34px;
    cursor:auto;
}

.check-container{
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.check-edit-mode{
    cursor: pointer;
    position: absolute;
    opacity: 0;
}

.check-container:hover{
    border-color: aliceblue;
    outline: 1px solid white;
}

.check-edit-mode:checked + .boton-check-edit {
    background-color: rgb(0, 0, 0);
    outline:rgb(255, 255, 255) 1px solid;

    color: aqua;
}

.check-edit-mode:checked + .boton-check-edit::after{
    content: ' ON';
    color: white;
}

.boton-apply-changes{
    background-color: rgb(224, 210, 144);
    color: rgb(0, 30, 30);
    border: solid 2px rgb(0, 20, 20);
    font-weight: 800;
    border-radius: 4px;
}

.boton-apply-changes:hover{
    background-color: rgb(247, 228, 133);
    outline: 1px solid wheat;
}